$primary-color : hsl(215, 51%, 70%);
$secondary-color : hsl(178, 100%, 50%);
$secondary-color-hover : hsla(178, 100%, 50%, 0.289);
$main-bg : hsl(217, 54%, 11%);
$card-bg : hsl(216, 50%, 16%);
$line : hsl(215, 32%, 27%);
$c-white: hsl(0, 0%, 100%);

// font-size
$c-font-l : 22px;
$c-font-n : 18px;
$c-font-s : 14px;



// font-family
$c-font-family : 'Outfit', sans-serif;

// font-weight
$weight-s : 300;
$weight-n : 400;
$weight-h : 600;

// margin
$c-mb : 15px;
